<template>
  <v-container class="grey lighten-5 widthMod">
    <v-row no-gutters>

      <v-col
      sm='3'
        class="fullWidthResponsive"
      >
        <nav-tab :sites="true" :items="items"></nav-tab>
      </v-col>

      <v-col
        sm="8"
        id="specialMargin"
      >
        <v-card
          class="pa-2"
          outlined
          tile
        >
          <sort-array :type-item="'sites'" :headers="headers" id="sticky80px"></sort-array>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import navTab from '@/components/navTab.vue'
import sortArray from '@/components/arrayCrud.vue'

export default {
  components: {
    navTab: navTab,
    sortArray: sortArray
  },
  props: {
  },
  data () {
    return {
      items: [
          { title: 'Le nom contient', icon: 'mdi-magnify', id: 'search' },
        ],
      headers: [
        { text: 'Ville', value: 'city_name', align: 'left' },
        { text: 'Actions', value: 'action', sortable: false }
      ],
    }
  },
  methods: {
    sortArray () {

    }
  },
  async mounted () {
    // const axios = this.getAxios(this.$session.get('userToken'));
    // const array = await axios.get('/sorties');
    // this.array = array.data;
  }
}
</script>

<style scoped>
.widthMod
{
  width: 70vw;
  height: 100%;
}

#specialMargin
{
  margin-left: 12px;
}

#sticky80px
{
  position: sticky;
  top: 80px;
}

.fullWidthResponsive
{
  width: 100%;
}


@media screen and (max-width: 1000px) {
  .widthMod
  {
    width: 100vw;
  }
  #specialMargin
  {
    margin-left: 24px;
  }
}

@media screen and (max-width: 800px) {
  .fullWidthResponsive
  {
    width: 100vw;
  }

  .fullWidthResponsive > div
  {
    margin: 0 !important;
    margin-bottom: 10px !important;
    width: 100% !important;
  }

  .fullWidthResponsive > div > .v-navigation-drawer
  {
    width: 100% !important;
  }
}
</style>
