<template>
  <v-container
    fill-height
    fluid
  >
    <v-row justify="center" class="flex-invert">
      <v-col
        cols="12"
        md="8"
      >
        <material-card
          color="primary"
          title="Edit Profile"
          text="Complete your profile"
        >
          <v-form>
            <v-container class="py-0">
              <v-row>
                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    class="purple-input"
                    label="Pseudo"
                    v-model="userNickname"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    class="purple-input"
                    label="Prénom"
                    v-model="userFirstname"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    label="Nom"
                    class="purple-input"
                    v-model="userLastname"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="6"
                >
                  <v-text-field
                    label="Téléphone"
                    class="purple-input"
                    v-model="userPḧone"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="6"
                >
                  <v-text-field
                    label="Adresse e-mail"
                    class="purple-input"
                    v-model="email"
                  />
                </v-col>

                <v-col
                  cols="12"
                >
                    <v-select
                        :items="citiesselect"
                        label="Ville de ratachement"
                        class="width100"
                    ></v-select>
                </v-col>

                <v-col cols="12">
                  <v-checkbox
                    v-model="admin"
                    :label="`L'utilisateur est un administrateur`"
                  ></v-checkbox>

                  <v-checkbox
                    v-model="worker"
                    :label="`L'utilisateur est actif`"
                  ></v-checkbox>
                </v-col>

                <v-col
                  cols="12"
                  class="text-right"
                >
                  <v-btn color="primary">
                    Mettre à jour le profil
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </material-card>
      </v-col>
      <v-col
        cols="12"
        md="4"
      >
        <material-card class="v-card-profile">
          <v-avatar
            slot="offset"
            class="mx-auto d-block elevation-6"
            size="130"
          >
            <img
              src="https://demos.creative-tim.com/vue-material-dashboard/img/marc.aba54d65.jpg"
            >
          </v-avatar>
          <v-card-text class="text-center">
            <h6 class="overline mb-3">
              CEO
            </h6>

            <h4 class="font-weight-light">
              {{ userFirstname }} {{ userLastname }}
            </h4>

            <p class="font-weight-light">
              On a mis un texte ici parce que ça fait classe, il y a plus de contenu m'voyez. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit massa sed nibh aliquam, vitae tempus mi malesuada. Quisque luctus mattis accumsan. Maecenas malesuada quam felis...
            </p> 
          </v-card-text>
        </material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    data () {
        return {
          citiesselect: [
            'Angers',
            'Nantes'
          ],
          userNickname: this.$session.get('user').nickname,
          userFirstname: this.$session.get('user').lastname,
          userLastname: this.$session.get('user').firstname,
          userPhone: this.$session.get('user').phone,
          email: this.$session.get('user').email,
          admin: this.$session.get('user').administrator,
          site: this.$session.get('user').site_id,
          worker: this.$session.get('user').worker,
        }
    }
  }
</script>

<style scoped>
@media screen and (max-width: 600px){
    .flex-invert
    {
        flex-direction: column-reverse;
    }    
}

</style>